# Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.


#####################################
#           INSTRUCTIONS            #
#####################################
# How to use all this stuff:
#
#     1.  Copy this .cfg file into your Klipper config directory and then add [include stealthburner_leds.cfg]
#         to the top of your printer.cfg in order for register the LEDs and macros with Klipper.
#     2.  Define your LEDs by editing [neopixel sb_leds] below and entering the data pin from your control board
#         as well as the color order.
#
#           Note: RGB and RGBW are different and must be defined explicitly.  RGB and RGBW are also not able to 
#                 be mix-and-matched in the same chain. A separate data line would be needed for proper functioning.
#
#                 RGBW LEDs will have a visible yellow-ish phosphor section to the chip.  If your LEDs do not have
#                 this yellow portion, you have RGB LEDs.
#
#     3.  Save your config and restart Klipper.
#
#           Note: We set RED and BLUE to 1.0 to make it easier for users and supporters to detect 
#                 misconfigurations or miswiring. The default color format is for Neopixels with a dedicated 
#                 white LED. On startup, all three SB LEDs should light up.
#
#                 If you get random colors across your LEDs, change the color_order to GRB and restart. Then
#                 omit the W for each suggested color_order in the next paragraph.
#
#                 If you get MAGENTA, your  color order is correct. If you get CYAN, you need to use RGBW. If
#                 you get YELLOW, you need to use BRGW (note that BRG is only supported in the latest Klipper
#                 version).
#
#     4.  Once you have confirmed that the LEDs are set up correctly, you must now decide where you want 
#         these macros called up...which means adding them to your existing gcode macros.  NOTHING will happen
#         unless you add the STATUS_????? macros to your existing gcode macros.  
#
#           Example: add STATUS_LEVELING to the beginning of your QGL gcode macro, and then add STATUS_READY 
#                    to the end of it to set the logo LED and nozzle LEDs back to the `ready` state.
#
#           Example: add STATUS_CLEANING to the beginning of your nozzle-cleaning macro, and then STATUS_READY
#                    to the end of it to return the LEDs back to `ready` state.
#
#     5.  Feel free to change colors of each macro, create new ones if you have a need to.  The macros provided below
#         are just an example of what is possible.  If you want to try some more complex animations, you will most
#         likely have to use WLED with Moonraker and a small micro-controller (please see the LED thread for help inside
#         of the stealthburner_beta channel on Discord).
#
#####################################
#       END INSTRUCTRUCTIONS        #
#####################################


[neopixel sb_leds]
pin: PD0
#pin: PB6 for skirt
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 8
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.25
initial_BLUE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

# Most configuration for the macros can be done by modifying the variables in the _sb_vars macro
# at the start of this file.

[neopixel skirt_leds]
pin: expander:PB1
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 20
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[neopixel display_led]
pin: PD6
chain_count: 1
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.25
initial_BLUE: 0.0

##########
# MACROS #
##########

# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#    STATUS_PRINTING
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF
#
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker


[gcode_macro _sb_vars]
# User settings for the StealthBurner status leds. You can change the status colors and led
# configurations for the logo and nozzle here.
variable_colors: {
        'logo': { # Colors for logo states
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5},
            'calibrating_z': {'r': 0.8, 'g': 0.8, 'b': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0},
            'standby': {'r': 0.0, 'g': 0.25, 'b': 0.0},
            'maintenance': {'r': 0.2, 'g': 0.1, 'b': 0.0},
        },
        'display': { # Colors for display LED states
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.0, 'g': 0.25, 'b': 0.0, 'w':0.0},
        },
        'skirt': { # Colors for skirt states
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5},
            'calibrating_z': {'r': 0.8, 'g': 0.8, 'b': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0},
            'printing': {'r': 1.0, 'g': 1.0, 'b': 0.5},
            'standby': {'r': 0.00, 'g': 0.0, 'b': 0.0},
            'maintenance': {'r': 0.2, 'g': 0.1, 'b': 0.0},
            'aziz': {'r': 1.0, 'g': 1.0, 'b': 0.5},
        },    
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }
variable_logo_led_name:         "sb_leds" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "1,2,3,4,5,6,7,8" 
# A comma-separated list of indexes LEDs in the logo
#variable_nozzle_led_name:       "sb_leds"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
#variable_nozzle_idx:            "9,10"
# A comma-separated list of indexes of LEDs in the nozzle
variable_skirt_led_name:       "skirt_leds"
# The name of the addressable LED chain that contains the skirt LED(s).
variable_skirt_idx:            "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20"
# A comma-separated list of indexes of LEDs in the skirt
variable_display_led_name:         "display_led" 
# The name of the addressable LED chain that contains the display LED(s)
variable_display_idx:              "1" 

variable_logo_state: "0"
variable_display_state: "0"
variable_skirt_state: "0"

gcode:
    # This section is required.  Do Not Delete.


[gcode_macro _set_sb_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}
    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_sb_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _sb_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _sb_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _sb_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_sb_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _sb_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _sb_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_sb_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_display_led]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _sb_vars"].display_led_name %}
    {% set idx = printer["gcode_macro _sb_vars"].display_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_skirt_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _sb_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _sb_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_skirt_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}


[gcode_macro set_logo_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_logo_leds red=0 blue=0 green=0 white=0 transmit={transmit}

[gcode_macro set_display_led_on]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="display_led" color="on" transmit={transmit}

[gcode_macro set_nozzle_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="display_led" color="off" transmit={transmit}

[gcode_macro set_skirt_leds_on]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="skirt" color="on" transmit={transmit}

[gcode_macro set_skirt_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="skirt" color="off" transmit={transmit}

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS
    set_logo_leds_off transmit=0
    set_display_led_off
    set_skirt_leds_off transmit=1

[gcode_macro caselights_on]
gcode:
    _set_sb_leds_by_name leds="skirt" color="aziz" transmit=1

[gcode_macro caselights_off]
gcode:
    _set_sb_leds_by_name leds="skirt" color="off" transmit=1

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    _set_sb_leds_by_name leds="logo" color="standby" transmit=1
    #_set_sb_leds_by_name leds="skirt" color="standby" transmit=1
    #SET_LED LED="display_led" RED=0.0 GREEN=0.25 BLUE=0.0 SYNC=0 TRANSMIT=1
    _set_sb_leds_by_name leds="display" color="standby" transmit=1

[gcode_macro status_busy]
gcode:
    _set_sb_leds_by_name leds="logo" color="busy" transmit=0
    _set_sb_leds_by_name leds="skirt" color="busy" transmit=1

[gcode_macro status_bed_heating]
gcode:
#    _set_sb_leds_by_name leds="logo" color="heating" transmit=0
    STOP_LED_EFFECTS
    #SET_LED_EFFECT EFFECT=logo_fire
    SET_LED_EFFECT EFFECT=bed_heaterfire

[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=logo_heaterfire

[gcode_macro status_chamber_heating]
gcode:
#    _set_sb_leds_by_name leds="logo" color="heating" transmit=0
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=logo_fire

[gcode_macro status_homing]
gcode:
#    _set_sb_leds_by_name leds="logo" color="homing" transmit=0
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=homing_comet

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    _set_sb_leds_by_name leds="logo" color="printing" transmit=0
    _set_sb_leds_by_name leds="skirt" color="printing" transmit=0
    SET_LED LED="display_led" RED=0.5 GREEN=0.0 BLUE=0.0 SYNC=0 TRANSMIT=1
    NOZZLE_ON

[gcode_macro STATUS_MAINTENANCE]
gcode:
    _set_sb_leds_by_name leds="logo" color="maintenance" transmit=0

[led_effect logo_fire]
leds:
    neopixel:sb_leds
    neopixel:skirt_leds
    neopixel:display_led
layers:
    fire         45  40   add        (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect bed_heaterfire]
leds:
    neopixel:sb_leds
    neopixel:skirt_leds
    neopixel:display_led
layers:
    heaterfire    20  0   add        (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
heater:                             heater_bed
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect logo_heaterfire]
leds:
    neopixel:sb_leds
    neopixel:skirt_leds
    neopixel:display_led
layers:
    heaterfire    20  1   add        (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
heater:                             extruder
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect logo_comet]
leds:
    neopixel:sb_leds
    neopixel:skirt_leds
    neopixel:display_led
layers:
    comet         1  1   add        (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect homing_comet]
leds:
    neopixel:sb_leds
    neopixel:skirt_leds
    neopixel:display_led
layers:
    comet         1  1   add        (0.0, 1.0, 0.2),(0.0, 1.0, 0.4),(0.0, 1.0, 0.6)
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect PRINT_DONE]
leds:
    neopixel:sb_leds
    neopixel:skirt_leds
    neopixel:display_led
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.0, 0.95, 0.0)
    static         1  0     top        (0.0,  1.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect critical_error]
leds:
    neopixel:sb_leds
    neopixel:skirt_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true