[menu __main __octoprint]
type: list
name: Klipper

### MENU FILAMENT ###
[menu __main __filament __loadf]
type: disabled

[menu __main __filament __loads]
type: disabled

[menu __main __filament __unloadf]
type: disabled

[menu __main __filament __unloads]
type: disabled


[menu __main __filament __load]
type: command
name: Load Filament
gcode:
    LOAD_FILAMENT


[menu __main __filament __unload]
type: command
name: Unload Filament
gcode:
    UNLOAD_FILAMENT